# Python bytecode
__pycache__/
*.pyc

# Databases and results (generated data)
*.db
results/
data/
test/
models/


scripts/Submission/

#metadata of the package
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.env

# IDE settings (if any)
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

CLAUDE.md
